.pomodoro-container {
    @apply p-6 rounded-2xl shadow-lg relative w-64 h-64 flex flex-col items-center justify-between;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .glassmorphic-timer {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }